.App {
  text-align: center;
}

.App-header {
  background-color: #62ab5e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.letter {
  display: inline-block;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  font-size: 40px;
  text-align: center;
  line-height: 60px; 
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0px;
}

@media (max-width: 1200px) {
  .letter {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px; 
  }
}

.letterHover:hover {
  outline: none;
  background-color: lightyellow;
  color: #62ab5e;
}

.pronunciation {
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}

@media (max-width: 1200px) {
  .pronunciation {
    font-size: 10px;
    line-height: 20px;
  }
}

.keyboard-wrapper {
  margin-right: 10vw;
  margin-left: 10vw;
}

@media (max-width: 1200px) {
  .keyboard-wrapper {
    margin-right: 5vw;
    margin-left: 5vw;
  }
}
